extends layout

block content

    script(src="http://js.street-directory.com.au/jmap.php" type="text/javascript")
    div(id="map-canvas" style="width:1000px; height:1000px; position:absolute;")
    script(src="/javascripts/index.js")
    script.
      window.onload = centreMapOnAddress(#{lat}, #{lng})
